@import "utils";

$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;
$color-4: #e74c3c;

label {
  cursor: pointer;
}

.modal-btn {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100px;
  background-color: $color-1;
  box-shadow: 0 0 40px rgba(black, 0.3);
  border-radius: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 2.75;
  transition: box-shadow 250ms ease;

  &:hover {
    box-shadow: 0 0 5px rgba(black, 0.3);
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  width: 30%;
  height: auto;
  margin: -18% auto 0;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(black, 0.5);
  transform: scale(0);
  transition: transform calc(var($base-duration) / 2) ease;
  visibility: hidden;
  z-index: 20;

  .close {
    position: relative;
    float: right;
    font-size: 18px;
    transition: transform $base-duration ease;
    z-index: 11;

    &:hover {
      color: $color-2;
      transform: rotate(540deg);
    }
  }

  header {
    position: relative;
    display: block;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 1.5rem;
    color: $gray-light;
  }

  article {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.75;
  }

  footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    padding: 10px 0 0;

    .button {
      position: relative;
      padding: 10px 30px;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      overflow: hidden;
      margin: 0.25rem;
      border: none;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(white, 0.2);
        transition: width 250ms ease;
        z-index: 0;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &.success {
        margin-right: 5px;
        background-color: $color-3;
      }

      &.danger {
        background-color: $color-4;
      }

      &.validate {
        background-color: $color-1;
      }
    }
  }
}

.show-modal {
  visibility: visible;
  transform: scale(1);
  transition: transform calc(var($base-duration) / 2) ease;
  z-index: 1;
}
